<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>首页</title>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <script th:src="@{/common/Common.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/index.js}"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">OA系统后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item  layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;主页</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" target="content" class="layui-this">控制台</a></dd>
                        <dd><a href="javascript:;" target="content">列表二</a></dd>
                        <dd><a href="javascript:;" target="content">列表三</a></dd>
                        <dd><a href="javascript:;" target="content">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;角色管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" target="content">列表一</a></dd>
                        <dd><a href="javascript:;" target="content">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i>&nbsp;&nbsp;日志管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-delete"></i>&nbsp;&nbsp;回收站</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="height: 100%">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe id="content" width="100%" height="840px" frameborder="no" th:src="@{/home/Console.html}">
            </iframe>
        </div>


    </div>


</div>

</body>
</html>